### Обучение с учителем

##### Задание 1

Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.
Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [50]:
import pandas as pd

In [51]:
import numpy as np

In [52]:
from sklearn.datasets import load_boston

In [53]:
boston = load_boston()

In [54]:
data = boston["data"]

In [55]:
feature_names = boston["feature_names"]

In [56]:
x = pd.DataFrame(data, columns=feature_names)

In [57]:
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [58]:
target = boston["target"]

In [59]:
y = pd.DataFrame(target, columns=["price"])

In [60]:
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [63]:
from sklearn.linear_model import LinearRegression

In [64]:
lr = LinearRegression()

In [65]:
lr.fit(x_train, y_train)

LinearRegression()

In [66]:
y_pred = lr.predict(x_test)

In [67]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

In [68]:
check_test.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [69]:
from sklearn.metrics import mean_squared_error

In [86]:
mean_squared_error_lr = mean_squared_error(check_test["y_pred"], check_test["y_test"])
mean_squared_error_lr

21.517444231176995

In [87]:
from sklearn.metrics import r2_score

In [88]:
r2s = r2_score(check_test["y_pred"], check_test["y_test"])

In [89]:
r2s

0.669370269149561

---

##### Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.
Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [90]:
from sklearn.ensemble import RandomForestRegressor

In [91]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [92]:
model.fit(x_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [93]:
y_pred_model = model.predict(x_test)

In [94]:
check_test_model = pd.DataFrame({
    "y_test": y_test["price"], 
    "y_pred_model": y_pred_model.flatten()})

In [95]:
check_test_model.head()

     y_test  y_pred_model
173    23.6     22.806412
274    32.4     31.131464
491    13.6     16.339125
72     22.8     23.810726
452    16.1     17.139521

In [96]:
mean_squared_error_model = mean_squared_error(check_test_model["y_pred_model"], check_test_model["y_test"])

In [97]:
mean_squared_error_model

9.334548946165196

In [98]:
print(mean_squared_error_lr, mean_squared_error_model)

21.517444231176995 9.334548946165196

Вывод: алгоритм RandomForestRegressor дает результат точнее, чем LinearRegression.